 [Desktop Entry]
 Name=Open in VS Code
 Type=Service
 ServiceTypes=KonqPopupMenu/Plugin
 MimeType=inode/directory;application/octet-stream;
 X-KDE-Priority=TopLevel
 Actions=openInVSCode
 Name[zh]=在VS Code中打开
 
 [Desktop Action openInVSCode]
 Name=Open in VS Code
 Icon=com.visualstudio.code
 Exec=code %u
 Name[zh]=在VS Code中打开
