 [Desktop Entry]
 Name=Open in 7zFM
 Type=Service
 ServiceTypes=KonqPopupMenu/Plugin
 MimeType=inode/directory;application/octet-stream;
 X-KDE-Priority=TopLevel
 Actions=openIn7z
 Name[zh]=在7z中打开
 
 [Desktop Action openIn7z]
 Name=Open in 7zFM
 Icon=CFDC_7zFM.0
 Exec=env WINEPREFIX="/home/louisj/.wine" wine "/home/louisj/.wine/dosdevices/c:/Program Files/7-Zip/7zFM.exe" "Z:%u"
 Name[zh]=在7z中打开
