 [Desktop Entry]
 Name=Open Yakuake here
 Type=Service
 ServiceTypes=KonqPopupMenu/Plugin,inode/directory,inode/directory-locked
 MimeType=inode/directory
 X-KDE-Priority=TopLevel
 Actions=openYakuake;
 Name[zh]=在Yakuake中打开

 [Desktop Action openYakuake]
 Name=Open Yakuake here
 Icon=yakuake
 Exec=~/.local/share/kservices5/ServiceMenus/yakuakehere.sh %f
 Name[zh]=在Yakuake中打开
